</div>

<!-- /.content-wrapper -->
<footer class="main-footer">
    <strong>Copyright &copy; 2021 <a href="javascript:void(0)">Ashmik Harinkhede</a>.</strong>
  
</footer>

</div>
<!-- ./wrapper -->

<%- include("inc/script") %>
</body>

</html>